In [5]:
import pandas as pd
csv_test = pd.read_csv("test_csv_file.csv")  # 같은 downloads file에 저장되어 바로 읽어짐/ csv file은 ','로 구분되어 알아서 읽어진다
csv_test

   ID LAST_NAME  AGE
0   1       KIM   30
1   2      CHOI   25
2   3       LEE   41
3   4      PARK   19
4   5       LIM   36

In [9]:
text = pd.read_csv("test_text_file.txt", sep = "|", index_col=0) #csv file과 csv file이 아닌 것 모두 읽을 수 있다.
text

    A  B  C  D
ID
C1  1  2  3  4
C2  5  6  7  8
C3  1  3  5  7

In [21]:
text = pd.read_csv("text_without_column_name.txt", sep = "|",header=None, names=['ID','A','B','C','D']) #csv file과 csv file이 아닌 것 모두 읽을 수 있다.
text

   ID  A  B  C  D
0  C1  1  2  3  4
1  C2  5  6  7  8
2  C3  1  3  5  7

In [19]:
type(text)

pandas.core.frame.DataFrame

In [20]:
text.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 5 columns):
ID    3 non-null object
A     3 non-null int64
B     3 non-null int64
C     3 non-null int64
D     3 non-null int64
dtypes: int64(4), object(1)
memory usage: 200.0+ bytes

In [22]:
data = {'ID':['A1','A2','A3'],
       'X1':[10,20,30],
       'X2': [1.1, 1.2,1.3]}
print(data)

{'ID': ['A1', 'A2', 'A3'], 'X1': [10, 20, 30], 'X2': [1.1, 1.2, 1.3]}

In [24]:
df = pd.DataFrame(data, index=['a1','a2','a3']) # index 속성 :행이름 지정(default는 0부터 넘버링)
df

    ID  X1   X2
a1  A1  10  1.1
a2  A2  20  1.2
a3  A3  30  1.3

In [25]:
#데이터 프레임에 행 추가
df2 = df.reindex(['a1','a2','a3','a4'])
df2
#pandas : NAN(결측값), deep Learning: NAN(inf -> 발산)

     ID    X1   X2
a1   A1  10.0  1.1
a2   A2  20.0  1.2
a3   A3  30.0  1.3
a4  NaN   NaN  NaN

In [26]:
df2.to_csv("df2.csv")

In [27]:
df2.to_csv("df2.csv", sep='?') #CSV는 ','로 데이터를 구분함

In [28]:
df2.to_csv("df2.csv", sep=',')

In [30]:
df2.to_csv("df2.csv", sep=',', na_rep="NaN") #na_rep을 통해 메세지를 줄 수 있다

In [33]:
import numpy as np
df1 = pd.DataFrame(data = np.arange(12).reshape(3,4), # 배열로 reshape()
                  index=['r0','r1','r2'],             # 행의 index 이름을 설정
                  columns=['c0','c1','c2','c3'])      # 열의 index 이름을 설정
df1

    c0  c1  c2  c3
r0   0   1   2   3
r1   4   5   6   7
r2   8   9  10  11

In [34]:
df1.T  # T: 배열의 행과 열을 바꿔준다

    r0  r1  r2
c0   0   4   8
c1   1   5   9
c2   2   6  10
c3   3   7  11

In [35]:
df1.axes # axes속성 : 축에 대한 정보가 list 형태로 return

[Index(['r0', 'r1', 'r2'], dtype='object'),
 Index(['c0', 'c1', 'c2', 'c3'], dtype='object')]

In [47]:
df1.dtypes # dtypes 속성 
df1.info() # info()를 더 많이 사용한다

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, r0 to r2
Data columns (total 4 columns):
c0    3 non-null int32
c1    3 non-null int32
c2    3 non-null int32
c3    3 non-null int32
dtypes: int32(4)
memory usage: 152.0+ bytes

In [48]:
df1.shape # shape은 행렬의 크기를 튜플로 return

(3, 4)

In [49]:
df1.size # size는 행렬의 요소 개수를 return

12

In [50]:
df1.values # values는 행 별로 값들만 return

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [51]:
df2 = pd.DataFrame({'c1':['a','a','b','b','c'],
                    'v1':np.arange(5),
                   'v2':np.random.randn(5)
                   }, 
                  index=['r0','r1','r2','r3','r4'])     # 행의 index 이름을 설정
df2

   c1  v1        v2
r0  a   0 -1.452799
r1  a   1 -0.894250
r2  b   2  1.615961
r3  b   3 -2.428603
r4  c   4 -1.137137

In [52]:
df2.index

Index(['r0', 'r1', 'r2', 'r3', 'r4'], dtype='object')

In [53]:
df2.ix[2:] #행을 기준으로 data를 추출할 때, 행에 대한 인덱스나 이름 모두 사용가능
# 위치 기반 인덱싱 : iloc
# label 기반 인덱싱 : loc

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

   c1  v1        v2
r2  b   2  1.615961
r3  b   3 -2.428603
r4  c   4 -1.137137

In [44]:
df2.ix[2] # 특정 행의 index에 대한 정보만 나온다

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

c1           b
v1           2
v2    0.738974
Name: r2, dtype: object

In [45]:
df2.ix['r2'] # ix속성 사용시, 행의 인덱스 이름과 번호 둘 다 사용 가능하다

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

c1           b
v1           2
v2    0.738974
Name: r2, dtype: object

In [46]:
df2

   c1  v1        v2
r0  a   0 -0.380067
r1  a   1  1.250568
r2  b   2  0.738974
r3  b   3  1.269658
r4  c   4 -1.838911