In [2]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
import seaborn as sns
import re

titanic = sns.load_dataset("titanic")

In [3]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
survived       891 non-null int64
pclass         891 non-null int64
sex            891 non-null object
age            714 non-null float64
sibsp          891 non-null int64
parch          891 non-null int64
fare           891 non-null float64
embarked       889 non-null object
class          891 non-null category
who            891 non-null object
adult_male     891 non-null bool
deck           203 non-null category
embark_town    889 non-null object
alive          891 non-null object
alone          891 non-null bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.6+ KB

In [19]:
# 각 칼럼 단위로 결측값의 개수를 출력
def count_missing(data): # data에 titanic이 전달된다
    null_data = pd.isnull(data)
    null_count = np.sum(null_data)  # 결과 값을 컬럼 단위로 출력한다
    return null_count # 결측 값의 갯수를 리턴

# 각 컬럼 단위로 결측값의 비율을 출력
def prop_missing(data):
    n = count_missing(data) #각 컬럼별 결측 갯수를 받음
#     print(data.size)
    return n/data.size

### apply()

In [20]:
cmis_col = titanic.apply(count_missing)
cmis_col

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [27]:
titanic['num_missing'] = print(titanic.apply(count_missing, axis=1))
# print(titanic.apply(prop_missing))
print(titanic.head(10))

0      2
1      1
2      2
3      1
4      2
5      3
6      1
7      2
8      2
9      2
10     1
11     1
12     2
13     2
14     2
15     2
16     2
17     3
18     2
19     3
20     2
21     1
22     2
23     1
24     2
25     2
26     3
27     1
28     3
29     3
      ..
861    2
862    1
863    3
864    2
865    2
866    2
867    1
868    3
869    2
870    2
871    1
872    1
873    2
874    2
875    2
876    2
877    2
878    3
879    1
880    2
881    2
882    2
883    2
884    2
885    2
886    2
887    1
888    3
889    1
890    2
Length: 891, dtype: int64
   survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0         0       3    male  22.0      1      0   7.2500        S   Third
1         1       1  female  38.0      1      0  71.2833        C   First
2         1       3  female  26.0      0      0   7.9250        S   Third
3         1       1  female  35.0      1      0  53.1000        S   First
4         0       3    male  35.0      0      0   8.0500        S   Third
5         0       3    male   NaN      0      0   8.4583        Q   Third
6         0       1    male  54.0      0      0  51.8625        S   First
7         0       3    male   2.0      3      1  21.0750        S   Third
8         1       3  female  27.0      0      2  11.1333        S   Third
9         1       2  female  14.0      1      0  30.0708        C  Second

     who  adult_male deck  embark_town alive  alone num_missing
0    man        True  NaN  Southampton    no  False        None
1  woman       False    C    Cherbourg   yes  False        None
2  woman       False  NaN  Southampton   yes   True        None
3  woman       False    C  Southampton   yes  False        None
4    man        True  NaN  Southampton    no   True        None
5    man        True  NaN   Queenstown    no   True        None
6    man        True    E  Southampton    no   True        None
7  child       False  NaN  Southampton    no  False        None
8  woman       False  NaN  Southampton   yes  False        None
9  child       False  NaN    Cherbourg   yes  False        None

In [25]:
print(titanic.apply(count_missing)) # 칼럼 별 결측 값 
print(titanic.apply(count_missing, axis=1)) # 로우 별 결측 값
print(titanic.apply(prop_missing, axis=1))

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
0      1
1      0
2      1
3      0
4      1
5      2
6      0
7      1
8      1
9      1
10     0
11     0
12     1
13     1
14     1
15     1
16     1
17     2
18     1
19     2
20     1
21     0
22     1
23     0
24     1
25     1
26     2
27     0
28     2
29     2
      ..
861    1
862    0
863    2
864    1
865    1
866    1
867    0
868    2
869    1
870    1
871    0
872    0
873    1
874    1
875    1
876    1
877    1
878    2
879    0
880    1
881    1
882    1
883    1
884    1
885    1
886    1
887    0
888    2
889    0
890    1
Length: 891, dtype: int64

In [37]:
df = pd.read_csv("gapminder.tsv",sep='\t')
df
df.groupby('year').lifeExp.mean()
df.year.unique()
y1952 = df[df.year==1952]
y1952
y1952.lifeExp
y1952.lifeExp.mean()  # 1952년 모든 국가에 대한 평균 기대수명치

49.05761971830987

### agg()



df.groupby('year').lifeExp.mean()
df.groupby('year').lifeExp.agg(np.mean) # agg는 집계함수 : () 안에 다양한 함수 적용 가능
df.groupby('year').lifeExp.agg(np.max) 
df.groupby('year').lifeExp.agg(np.size) 

def myMean(v): # v에는 year별로 lifeExp 그룹화 된 데이터가 전달됨
    n=len(v)
    sum=0
    for val in v:
        sum+=val
    return sum/val
        
df.groupby('year').lifeExp.agg(myMean)

In [53]:
gm = df.lifeExp.mean() #59 출력됨

def mean_diff(data,v):
    n=len(data)
    sum=0
    for val in v:
        sum+=val
    mymean = sum/n
    return  mymean-n
    
#     retrun 각 년도별 수명평균 - gm
    
print(df.groupby('year').lifeExp.agg(mean_diff,v=gm))

TypeError: 'float' object is not iterable

In [48]:
df.groupby('year').lifeExp.agg([np.std,np.mean,np.count_nonzero])

            std       mean  count_nonzero
year
1952  12.225956  49.057620          142.0
1957  12.231286  51.507401          142.0
1962  12.097245  53.609249          142.0
1967  11.718858  55.678290          142.0
1972  11.381953  57.647386          142.0
1977  11.227229  59.570157          142.0
1982  10.770618  61.533197          142.0
1987  10.556285  63.212613          142.0
1992  11.227380  64.160338          142.0
1997  11.559439  65.014676          142.0
2002  12.279823  65.694923          142.0
2007  12.073021  67.007423          142.0

In [54]:
df.groupby('year').lifeExp.agg({'lifeExp':'std','gdp':'median'})

C:\Users\user\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: using a dict on a Series for aggregation
is deprecated and will be removed in a future version
  """Entry point for launching an IPython kernel.

        lifeExp      gdp
year
1952  12.225956  45.1355
1957  12.231286  48.3605
1962  12.097245  50.8810
1967  11.718858  53.8250
1972  11.381953  56.5300
1977  11.227229  59.6720
1982  10.770618  62.4415
1987  10.556285  65.8340
1992  11.227380  67.7030
1997  11.559439  69.3940
2002  12.279823  70.8255
2007  12.073021  71.9355

### transform()

In [51]:
def zscore(x):
    print(x-x.mean())/x.std()

In [52]:
df.groupby('year').lifeExp.transform(zscore)

49.05761971830987
51.50740112676054
53.60924901408449
55.67828957746479
57.64738647887325
59.57015746478873
61.53319718309858
63.21261267605636
64.16033802816901
65.01467605633805
65.69492253521126
67.00742253521126

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
8      NaN
9      NaN
10     NaN
11     NaN
12     NaN
13     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
26     NaN
27     NaN
28     NaN
29     NaN
        ..
1674   NaN
1675   NaN
1676   NaN
1677   NaN
1678   NaN
1679   NaN
1680   NaN
1681   NaN
1682   NaN
1683   NaN
1684   NaN
1685   NaN
1686   NaN
1687   NaN
1688   NaN
1689   NaN
1690   NaN
1691   NaN
1692   NaN
1693   NaN
1694   NaN
1695   NaN
1696   NaN
1697   NaN
1698   NaN
1699   NaN
1700   NaN
1701   NaN
1702   NaN
1703   NaN
Name: lifeExp, Length: 1704, dtype: float64