In [ ]:
# reindex 속성

In [1]:
# 탐색적 분석 방법(EDA)

In [3]:
import numpy as np
import pandas as pd

In [4]:
df2 = pd.DataFrame({'c1':['a','a','b','b','c'],
                    'v1':np.arange(5),
                   'v2':np.random.randn(5)
                   }, 
                  index=['r0','r1','r2','r3','r4'])     # 행의 index 이름을 설정
df2

   c1  v1        v2
r0  a   0  0.538031
r1  a   1  0.746837
r2  b   2 -0.343192
r3  b   3 -0.267531
r4  c   4  0.957092

In [6]:
df2.head(3)
df2.tail(3)

   c1  v1        v2
r2  b   2 -0.343192
r3  b   3 -0.267531
r4  c   4  0.957092

In [8]:
df2.columns

Index(['c1', 'v1', 'v2'], dtype='object')

In [9]:
df2['v1']

r0    0
r1    1
r2    2
r3    3
r4    4
Name: v1, dtype: int32

In [11]:
df2[['v1','v2']]#2개 이상의 컬럼을 참조해야 할 경우, 대괄호로 한번 더 묶어줘야 한다 #DF의 경우 진한글자로 출력

    v1        v2
r0   0  0.538031
r1   1  0.746837
r2   2 -0.343192
r3   3 -0.267531
r4   4  0.957092

In [12]:
type(df2['v1']) # Series는 array로 저장되는 열 벡터 하나  ( 열 벡터 여러개 --> Metrix)

pandas.core.series.Series

In [15]:
type(df2[['v1']])

pandas.core.frame.DataFrame

In [16]:
#### DF와 Series 중 어떤 형태로 써야 하는가?  --> 필요에 따라서...

In [38]:
df2 = pd.DataFrame({'c1':['a','a','b','b','c'],
                    'v1':np.arange(5),
                   'v2':np.random.randn(5)
                   }, 
                  index=['r0','r1','r2','r3','r4'])     # 행의 index 이름을 설정

In [24]:
# 행의 인덱스를 새롭게 지정하고 싶다면?

In [39]:
newindex = ['r0','r1','r2','r5','r6'] 
df2.index

Index(['r0', 'r1', 'r2', 'r3', 'r4'], dtype='object')

In [26]:
df2.reindex(newindex) 
# reindex는 새로운 index 정보를 가지고 있는 list 값을 받는다
# 기존의 인덱스와 같은 이름의 인덱스는 유지되고, 새로운 인덱스의 값은 NaN으로 채워진다

     c1   v1       v2
r0    a  0.0  0.55688
r1    a  1.0  1.70572
r2    b  2.0  0.60084
r5  NaN  NaN      NaN
r6  NaN  NaN      NaN

In [20]:
# 원하는 값으로 새로운 행에 값을 채우고 싶다면?
'''
reindex 함수를 통해 fill_value에 값을 준다.
중요한 점은 기존 data type에 맞게 '형 변환'이 이루어져 들어가므로,
1을 넣어도 object형으로 변환되어 들어가므로 연산 작업에서 오류가 난다.
'''

In [21]:
df2.reindex(newindex, fill_value=1)

   c1  v1        v2
r0  a   0  0.538031
r1  a   1  0.746837
r2  b   2 -0.343192
r5  1   1  1.000000
r6  1   1  1.000000

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, r0 to r4
Data columns (total 3 columns):
c1    5 non-null object
v1    5 non-null int32
v2    5 non-null float64
dtypes: float64(1), int32(1), object(1)
memory usage: 300.0+ bytes

In [27]:
df2.reindex(newindex, fill_value='missing')

         c1       v1       v2
r0        a        0  0.55688
r1        a        1  1.70572
r2        b        2  0.60084
r5  missing  missing  missing
r6  missing  missing  missing

In [28]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, r0 to r4
Data columns (total 3 columns):
c1    5 non-null object
v1    5 non-null int32
v2    5 non-null float64
dtypes: float64(1), int32(1), object(1)
memory usage: 300.0+ bytes

In [42]:
dIndex = pd.date_range('07/02/2019', periods=5, freq = 'D') 
# date_range ('기준날짜:월/일/년도', periods= '기준 날짜로부터의 기간', freq = '단위가 되는 기간')

In [43]:
dIndex = pd.date_range('07/02/2019', periods=5, freq = 'D') 
df2 = pd.DataFrame({'c1':[1,2,3,4,5]}, index=dIndex)
df2

            c1
2019-07-02   1
2019-07-03   2
2019-07-04   3
2019-07-05   4
2019-07-06   5

In [44]:
dIndex2 = pd.date_range('06/30/2019',periods = 10, freq = 'D')
dIndex2

DatetimeIndex(['2019-06-30', '2019-07-01', '2019-07-02', '2019-07-03',
               '2019-07-04', '2019-07-05', '2019-07-06', '2019-07-07',
               '2019-07-08', '2019-07-09'],
              dtype='datetime64[ns]', freq='D')

In [46]:
# method는 NaN을 어떻게 처리할 지에 대한 속성
df2.reindex(dIndex2, method='ffill')  # ffill(fowardFill):이전 data로 채움  --> 이전data없으면 계속 NaN
df2.reindex(dIndex2, method='bfill')  # bfill(backword Fill): 뒤의 데이터로 채움

             c1
2019-06-30  1.0
2019-07-01  1.0
2019-07-02  1.0
2019-07-03  2.0
2019-07-04  3.0
2019-07-05  4.0
2019-07-06  5.0
2019-07-07  NaN
2019-07-08  NaN
2019-07-09  NaN