# 연관성 규칙

In [ ]:
문장=transaction
문장내 단어=item
--> 문서 요약에 활용

### 지지도

In [ ]:
전체 거래 중 x와y를 함께(동시에) 포함하는 거래가 어느 정도인가

### 신뢰도

In [ ]:
x를 구입한 사람이 y를 구매할 확률
아이템 집합이 있을때,
A아이템 집합에서 item을 구입한 사람이 B아이템 집합에서 item을 구입할 확률

### 리프트(향상도)

In [ ]:
x가 구입되었다면, y가 구매될 확률(신뢰도)
--------------------------------------  =  향상도
y의 일반적인 구매 확률(y구매/전체 구매)

In [ ]:
ex)
 lift(우유->빵) > 1이라면, 무슨 의미인가?
    : c(우유->빵)의 값이 빵 구매 확률이 높다.
        즉, 우유를 산 사람이 빵을 살 확률이 높다.

## Apriori Algorithm

In [ ]:
pruming(가지치기)
: 일정 수치 이상의 지지도를 가진 item 집합에 대해서만 연관성 규칙을 찾는 것
    p(a,b)는 a,b를 같이 구매할 확률, 
    a집합과 b집합의 초월집합(superset)이라고 함
    
***적절한 pruming을 선택하는 것이 중요한 issue이다***

In [7]:
import pandas as pd
import numpy as np
import tensorflow as tf

In [37]:
sample=" Mulmi team, cheer-up"

In [38]:
idx2char=list(set(sample))
char2idx={c:i for i,c in enumerate(idx2char)}

In [39]:
char2idx
dic_size=len(char2idx)
hidden_size=num_classes=dic_size
num_classes # 최종출력 output size
hidden_size #output size
dic_size  #원핫인코딩크기

batch_size=1 # data 1개씩 덥데이트 하겠다
sequence_length=len(sample)-1
learning_rate=0.1

In [40]:
# 해당 문자의 인덱스 번호를 리스트형태로 저장
sample_idx= [char2idx[c] for c in sample]
sample_idx
sample_idx[:-1]
xdata=[sample_idx[:-1]]
ydata=[sample_idx[1:]]
print(xdata)
print(ydata)

[[11, 9, 2, 5, 3, 0, 11, 1, 12, 14, 3, 4, 11, 6, 13, 12, 12, 7, 8, 2]]
[[9, 2, 5, 3, 0, 11, 1, 12, 14, 3, 4, 11, 6, 13, 12, 12, 7, 8, 2, 10]]

In [41]:
tf.reset_default_graph()
x=tf.placeholder(tf.int32,[None,sequence_length])
y=tf.placeholder(tf.int32,[None,sequence_length])

x_one_hot=tf.one_hot(x,num_classes)

cell=tf.contrib.rnn.BasicLSTMCell(
num_units=hidden_size)
init_state=cell.zero_state(batch_size=1,dtype=tf.float32)
outputs,_states=tf.nn.dynamic_rnn(cell,x_one_hot,initial_state=init_state,dtype=tf.float32)

In [42]:
xfc=tf.reshape(outputs,[-1,hidden_size])
# fully-connected에서 default가 'relu'이다 -->  None으로 설정하면 선형적으로 진행이된다
outputs=tf.contrib.layers.fully_connected(xfc,num_classes,activation_fn=None)
outputs=tf.reshape(outputs,[batch_size,sequence_length,num_classes])
outputs

weights=tf.ones([batch_size,sequence_length])
sequence_loss=tf.contrib.seq2seq.sequence_loss(
logits=outputs,targets=y,weights=weights)
loss=tf.reduce_mean(sequence_loss)
train=tf.train.AdamOptimizer(learning_rate=learning_rate).minimize(loss)
prediction=tf.argmax(outputs,2)

In [43]:
with tf.Session() as sess:
    sess.run(tf.global_variables_initializer())
    for i in range(100):
        cv,_=sess.run([loss,train],
                     feed_dict={x:xdata,y:ydata})
        res=sess.run(prediction,feed_dict={x:xdata})
        res_str=[idx2char[c] for c in np.squeeze(res)]
        print(i,"loss:", cv, "prediction:","".join(res_str))

0 loss: 2.696312 prediction: eueeeeeeeeeeeeeeeeee
1 loss: 2.5146732 prediction: euu    ee   eeeeeee
2 loss: 2.3528686 prediction: eum     eeeeeeeeeeuu
3 loss: 2.0414243 prediction: uumm        eeeeeeuu
4 loss: 1.7819515 prediction: uumm   eeeeeeeerruuu
5 loss: 1.5885801 prediction: uummi  eem, eeeerruu
6 loss: 1.292696 prediction: Muumi teem, ceeer-uu
7 loss: 1.0670635 prediction: Mulmi teem, ceeer-up
8 loss: 0.80918086 prediction: Mulmi teem, cheer-up
9 loss: 0.6002057 prediction: Mulmi team, cheer-up
10 loss: 0.42174762 prediction: Mulmi team, cheer-up
11 loss: 0.2700699 prediction: Mulmi team, cheer-up
12 loss: 0.18276674 prediction: Mulmi team, cheer-up
13 loss: 0.11634748 prediction: Mulmi team, cheer-up
14 loss: 0.07315972 prediction: Mulmi team, cheer-up
15 loss: 0.049576744 prediction: Mulmi team, cheer-up
16 loss: 0.030951966 prediction: Mulmi team, cheer-up
17 loss: 0.02081875 prediction: Mulmi team, cheer-up
18 loss: 0.015752207 prediction: Mulmi team, cheer-up
19 loss: 0.0125017 prediction: Mulmi team, cheer-up
20 loss: 0.009470126 prediction: Mulmi team, cheer-up
21 loss: 0.0068544396 prediction: Mulmi team, cheer-up
22 loss: 0.0050407266 prediction: Mulmi team, cheer-up
23 loss: 0.003899326 prediction: Mulmi team, cheer-up
24 loss: 0.0031896955 prediction: Mulmi team, cheer-up
25 loss: 0.002717768 prediction: Mulmi team, cheer-up
26 loss: 0.0023309812 prediction: Mulmi team, cheer-up
27 loss: 0.0019625633 prediction: Mulmi team, cheer-up
28 loss: 0.0016359836 prediction: Mulmi team, cheer-up
29 loss: 0.0013809584 prediction: Mulmi team, cheer-up
30 loss: 0.0011945117 prediction: Mulmi team, cheer-up
31 loss: 0.0010588819 prediction: Mulmi team, cheer-up
32 loss: 0.0009572817 prediction: Mulmi team, cheer-up
33 loss: 0.000877772 prediction: Mulmi team, cheer-up
34 loss: 0.0008122812 prediction: Mulmi team, cheer-up
35 loss: 0.0007556836 prediction: Mulmi team, cheer-up
36 loss: 0.00070467225 prediction: Mulmi team, cheer-up
37 loss: 0.0006575159 prediction: Mulmi team, cheer-up
38 loss: 0.00061361893 prediction: Mulmi team, cheer-up
39 loss: 0.0005729029 prediction: Mulmi team, cheer-up
40 loss: 0.00053564657 prediction: Mulmi team, cheer-up
41 loss: 0.0005022004 prediction: Mulmi team, cheer-up
42 loss: 0.00047271294 prediction: Mulmi team, cheer-up
43 loss: 0.0004472083 prediction: Mulmi team, cheer-up
44 loss: 0.00042540106 prediction: Mulmi team, cheer-up
45 loss: 0.00040688078 prediction: Mulmi team, cheer-up
46 loss: 0.0003912189 prediction: Mulmi team, cheer-up
47 loss: 0.00037795713 prediction: Mulmi team, cheer-up
48 loss: 0.00036659534 prediction: Mulmi team, cheer-up
49 loss: 0.00035666907 prediction: Mulmi team, cheer-up
50 loss: 0.0003478389 prediction: Mulmi team, cheer-up
51 loss: 0.0003397832 prediction: Mulmi team, cheer-up
52 loss: 0.00033224002 prediction: Mulmi team, cheer-up
53 loss: 0.00032498883 prediction: Mulmi team, cheer-up
54 loss: 0.00031808345 prediction: Mulmi team, cheer-up
55 loss: 0.00031125563 prediction: Mulmi team, cheer-up
56 loss: 0.00030464242 prediction: Mulmi team, cheer-up
57 loss: 0.0002982378 prediction: Mulmi team, cheer-up
58 loss: 0.00029198817 prediction: Mulmi team, cheer-up
59 loss: 0.00028608405 prediction: Mulmi team, cheer-up
60 loss: 0.00028045394 prediction: Mulmi team, cheer-up
61 loss: 0.00027515148 prediction: Mulmi team, cheer-up
62 loss: 0.00027017068 prediction: Mulmi team, cheer-up
63 loss: 0.00026561282 prediction: Mulmi team, cheer-up
64 loss: 0.00026138258 prediction: Mulmi team, cheer-up
65 loss: 0.00025748 prediction: Mulmi team, cheer-up
66 loss: 0.00025387522 prediction: Mulmi team, cheer-up
67 loss: 0.00025052665 prediction: Mulmi team, cheer-up
68 loss: 0.00024741038 prediction: Mulmi team, cheer-up
69 loss: 0.00024451455 prediction: Mulmi team, cheer-up
70 loss: 0.00024179746 prediction: Mulmi team, cheer-up
71 loss: 0.00023919952 prediction: Mulmi team, cheer-up
72 loss: 0.00023675054 prediction: Mulmi team, cheer-up
73 loss: 0.00023439687 prediction: Mulmi team, cheer-up
74 loss: 0.00023212067 prediction: Mulmi team, cheer-up
75 loss: 0.00022993982 prediction: Mulmi team, cheer-up
76 loss: 0.00022781854 prediction: Mulmi team, cheer-up
77 loss: 0.00022575687 prediction: Mulmi team, cheer-up
78 loss: 0.00022377861 prediction: Mulmi team, cheer-up
79 loss: 0.0002218599 prediction: Mulmi team, cheer-up
80 loss: 0.00021997695 prediction: Mulmi team, cheer-up
81 loss: 0.00021817147 prediction: Mulmi team, cheer-up
82 loss: 0.00021644938 prediction: Mulmi team, cheer-up
83 loss: 0.00021473327 prediction: Mulmi team, cheer-up
84 loss: 0.00021310651 prediction: Mulmi team, cheer-up
85 loss: 0.00021152743 prediction: Mulmi team, cheer-up
86 loss: 0.00020999004 prediction: Mulmi team, cheer-up
87 loss: 0.0002085182 prediction: Mulmi team, cheer-up
88 loss: 0.00020709999 prediction: Mulmi team, cheer-up
89 loss: 0.00020572943 prediction: Mulmi team, cheer-up
90 loss: 0.00020436484 prediction: Mulmi team, cheer-up
91 loss: 0.0002030181 prediction: Mulmi team, cheer-up
92 loss: 0.00020174884 prediction: Mulmi team, cheer-up
93 loss: 0.00020049745 prediction: Mulmi team, cheer-up
94 loss: 0.00019926394 prediction: Mulmi team, cheer-up
95 loss: 0.00019805427 prediction: Mulmi team, cheer-up
96 loss: 0.00019686247 prediction: Mulmi team, cheer-up
97 loss: 0.00019568852 prediction: Mulmi team, cheer-up
98 loss: 0.0001945146 prediction: Mulmi team, cheer-up
99 loss: 0.00019339433 prediction: Mulmi team, cheer-up

In [45]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [46]:
dataset=[['사과','치즈','생수'],
        ['생수','호두','치즈','고등어'],
        ['수박','사과','생수'],
        ['생수','호두','치즈','옥수수']]

In [47]:
te=TransactionEncoder()
# transform()를 통해 종류별 boolean값을 return하는 형태로 변환!!
te_ary=te.fit(dataset).transform(dataset)
te_ary

array([[False,  True,  True, False, False,  True, False],
       [ True, False,  True, False, False,  True,  True],
       [False,  True,  True,  True, False, False, False],
       [False, False,  True, False,  True,  True,  True]])

In [48]:
df=pd.DataFrame(te_ary,columns=te.columns_)
df

     고등어     사과    생수     수박    옥수수     치즈     호두
0  False   True  True  False  False   True  False
1   True  False  True  False  False   True   True
2  False   True  True   True  False  False  False
3  False  False  True  False   True   True   True

In [51]:
freq_item=apriori(df,min_support=0.5,use_colnames=True)
freq_item

   support      itemsets
0     0.50          (사과)
1     1.00          (생수)
2     0.75          (치즈)
3     0.50          (호두)
4     0.50      (사과, 생수)
5     0.75      (생수, 치즈)
6     0.50      (생수, 호두)
7     0.50      (치즈, 호두)
8     0.50  (생수, 치즈, 호두)

In [52]:
from mlxtend.frequent_patterns import association_rules
association_rules(freq_item,metric="confidence",min_threshold=0.3)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(사과),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
1,(생수),(사과),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
2,(생수),(치즈),1.00,0.75,0.75,0.750000,1.000000,0.000,1.0
3,(치즈),(생수),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
4,(생수),(호두),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
5,(호두),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
6,(치즈),(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
7,(호두),(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
8,"(생수, 치즈)",(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
9,"(생수, 호두)",(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
10,"(치즈, 호두)",(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
11,(생수),"(치즈, 호두)",1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
12,(치즈),"(생수, 호두)",0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
13,(호두),"(생수, 치즈)",0.50,0.75,0.50,1.000000,1.333333,0.125,inf

In [53]:
association_rules(freq_item,metric="lift",min_threshold=0.7)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(사과),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
1,(생수),(사과),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
2,(생수),(치즈),1.00,0.75,0.75,0.750000,1.000000,0.000,1.0
3,(치즈),(생수),0.75,1.00,0.75,1.000000,1.000000,0.000,inf
4,(생수),(호두),1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
5,(호두),(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
6,(치즈),(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
7,(호두),(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
8,"(생수, 치즈)",(호두),0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
9,"(생수, 호두)",(치즈),0.50,0.75,0.50,1.000000,1.333333,0.125,inf
10,"(치즈, 호두)",(생수),0.50,1.00,0.50,1.000000,1.000000,0.000,inf
11,(생수),"(치즈, 호두)",1.00,0.50,0.50,0.500000,1.000000,0.000,1.0
12,(치즈),"(생수, 호두)",0.75,0.50,0.50,0.666667,1.333333,0.125,1.5
13,(호두),"(생수, 치즈)",0.50,0.75,0.50,1.000000,1.333333,0.125,inf