In [6]:
# 디씨젼트리를 이용한 분류
import pandas as pd
import numpy as np
import urllib
import urllib.request as req
from bs4 import BeautifulSoup

In [9]:
train = pd.read_csv("/Users/user/Downloads/titanic/train.csv")
train
test = pd.read_csv("/Users/user/Downloads/titanic/test.csv")
test

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S
10,902,3,"Ilieff, Mr. Ylio",male,NaN,0,0,349220,7.8958,NaN,S
11,903,1,"Jones, Mr. Charles Cresson",male,46.0,0,0,694,26.0000,NaN,S
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.0,1,0,21228,82.2667,B45,S
13,905,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",female,47.0,1,0,W.E.P. 5734,61.1750,E31,S
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.0,1,0,SC/PARIS 2167,27.7208,NaN,C
16,908,2,"Keane, Mr. Daniel",male,35.0,0,0,233734,12.3500,NaN,Q
17,909,3,"Assaf, Mr. Gerios",male,21.0,0,0,2692,7.2250,NaN,C
18,910,3,"Ilmakangas, Miss. Ida Livija",female,27.0,1,0,STON/O2. 3101270,7.9250,NaN,S
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",female,45.0,0,0,2696,7.2250,NaN,C
20,912,1,"Rothschild, Mr. Martin",male,55.0,1,0,PC 17603,59.4000,NaN,C
21,913,3,"Olsen, Master. Artur Karl",male,9.0,0,1,C 17368,3.1708,NaN,S
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",female,NaN,0,0,PC 17598,31.6833,NaN,S
23,915,1,"Williams, Mr. Richard Norris II",male,21.0,0,1,PC 17597,61.3792,NaN,C
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",female,48.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
25,917,3,"Robins, Mr. Alexander A",male,50.0,1,0,A/5. 3337,14.5000,NaN,S
26,918,1,"Ostby, Miss. Helene Ragnhild",female,22.0,0,1,113509,61.9792,B36,C
27,919,3,"Daher, Mr. Shedid",male,22.5,0,0,2698,7.2250,NaN,C
28,920,1,"Brady, Mr. John Bertram",male,41.0,0,0,113054,30.5000,A21,S
29,921,3,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",male,21.0,0,0,364858,7.7500,NaN,Q
389,1281,3,"Palsson, Master. Paul Folke",male,6.0,3,1,349909,21.0750,NaN,S
390,1282,1,"Payne, Mr. Vivian Ponsonby",male,23.0,0,0,12749,93.5000,B24,S
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",female,51.0,0,1,PC 17592,39.4000,D28,S
392,1284,3,"Abbott, Master. Eugene Joseph",male,13.0,0,2,C.A. 2673,20.2500,NaN,S
393,1285,2,"Gilbert, Mr. William",male,47.0,0,0,C.A. 30769,10.5000,NaN,S
394,1286,3,"Kink-Heilmann, Mr. Anton",male,29.0,3,1,315153,22.0250,NaN,S
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",female,18.0,1,0,13695,60.0000,C31,S
396,1288,3,"Colbert, Mr. Patrick",male,24.0,0,0,371109,7.2500,NaN,Q
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",female,48.0,1,1,13567,79.2000,B41,C
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",male,22.0,0,0,347065,7.7750,NaN,S
399,1291,3,"Conlon, Mr. Thomas Henry",male,31.0,0,0,21332,7.7333,NaN,Q
400,1292,1,"Bonnell, Miss. Caroline",female,30.0,0,0,36928,164.8667,C7,S
401,1293,2,"Gale, Mr. Harry",male,38.0,1,0,28664,21.0000,NaN,S
402,1294,1,"Gibson, Miss. Dorothy Winifred",female,22.0,0,1,112378,59.4000,NaN,C
403,1295,1,"Carrau, Mr. Jose Pedro",male,17.0,0,0,113059,47.1000,NaN,S
404,1296,1,"Frauenthal, Mr. Isaac Gerald",male,43.0,1,0,17765,27.7208,D40,C
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",male,20.0,0,0,SC/PARIS 2166,13.8625,D38,C
406,1298,2,"Ware, Mr. William Jeffery",male,23.0,1,0,28666,10.5000,NaN,S
407,1299,1,"Widener, Mr. George Dunton",male,50.0,1,1,113503,211.5000,C80,C
408,1300,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [5]:
train.describe() # 기술 통계가 구해진다

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
# 평균 값으로 age를 채우고 별도로 저장하겠다
train['Age_mean'] = train['Age']
train['Age_mean'].fillna(train['Age_mean'].mean(),inplace=True) # inplace는 따로 assign하지 않아도 된다
test['Age_mean'] = test['Age']
test['Age_mean'].fillna(test['Age_mean'].mean(),inplace=True)

In [9]:
train['Age_mean'].mean() # 29.69
train['Age'].mean() # 29.69

29.69911764705882

In [10]:
train['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [76]:
train['Gender'] = (train['Sex']=='female')
test['Gender'] = (test['Sex']=='female')

In [75]:
train['Gender']
# train['Sex']

0      False
1       True
2      False
3      False
4       True
5      False
6       True
7      False
8       True
9      False
10     False
11     False
12      True
13     False
14      True
15      True
16     False
17     False
18      True
19      True
20     False
21     False
22      True
23     False
24      True
25     False
26      True
27     False
28     False
29     False
       ...
861      NaN
862      NaN
863      NaN
864      NaN
865      NaN
866      NaN
867      NaN
868      NaN
869      NaN
870      NaN
871      NaN
872      NaN
873      NaN
874      NaN
875      NaN
876      NaN
877      NaN
878      NaN
879      NaN
880      NaN
881      NaN
882      NaN
883      NaN
884      NaN
885      NaN
886      NaN
887      NaN
888      NaN
889      NaN
890      NaN
Name: Gender, Length: 891, dtype: object

In [16]:
train['Embarked'].value_counts()
train['Embarked'].isnull().sum() # 2개가  NAN
test['Embarked'].isnull().sum() # 0개가  NAN

0

In [43]:
# 원핫인코딩
# Embarked_S를 만들어서 Embarked == 'S'인지 확인하고 할당하고, 나머지에 대해서도 동일하게 수행

train['Embarked_S'] = train['Embarked']=='S'
train['Embarked_C'] = train['Embarked']=='C'
train['Embarked_Q'] = train['Embarked']=='Q'

# train['E']

In [37]:
test['Embarked_S'] = test['Embarked']=='S'
test['Embarked_C'] = test['Embarked']=='C'
test['Embarked_Q'] = test['Embarked']=='Q'

In [24]:
train['FamilySize'] = train['SibSp'] + train['Parch']+1 # +1(본인)까지 하면 --> 총 가족의 수 
train['FamilySize'].value_counts()  # --> 인덱스가 가족의 수
train['Family'] = train['FamilySize']

# 대가족(5이상) :L 중가족(2-4) :M 소가족(1):S 로 분류한다면,
train.loc[train['FamilySize']==1,'Family'] = 'S'# loc를 사용하여 가족수 열이 1과 같은 'Famliy'열을 참조하겠다
train.loc[ (1<train['FamilySize']) & (train['FamilySize']<5) ,'Family'] = 'M'
train.loc[train['FamilySize']>4,'Family'] = 'L'

     FamilySize Family
0             2      M
1             2      M
2             1      S
3             2      M
4             1      S
5             1      S
6             1      S
7             5      L
8             3      M
9             2      M
10            3      M
11            1      S
12            1      S
13            7      L
14            1      S
15            1      S
16            6      L
17            1      S
18            2      M
19            1      S
20            1      S
21            1      S
22            1      S
23            1      S
24            5      L
25            7      L
26            1      S
27            6      L
28            1      S
29            1      S
..          ...    ...
861           2      M
862           1      S
863          11      L
864           1      S
865           1      S
866           2      M
867           1      S
868           1      S
869           3      M
870           1      S
871           3      M
872           1      S
873           1      S
874           2      M
875           1      S
876           1      S
877           1      S
878           1      S
879           2      M
880           2      M
881           1      S
882           1      S
883           1      S
884           1      S
885           6      L
886           1      S
887           1      S
888           4      M
889           1      S
890           1      S

[891 rows x 2 columns]

In [27]:
train['Family_S']=train['Family']=='S'
train['Family_M']=train['Family']=='M'
train['Family_L']=train['Family']=='L'

train[['Family_S','Family_M','Family_L','Family','FamilySize']]
train['Family'].value_counts()

S    537
M    292
L     62
Name: Family, dtype: int64

In [38]:
test['FamilySize'] = test['SibSp'] + test['Parch']+1 # +1(본인)까지 하면 --> 총 가족의 수 
test['FamilySize'].value_counts()  # --> 인덱스가 가족의 수
test['Family'] = test['FamilySize']
test['Family'] = test['FamilySize']

test.loc[train['FamilySize']==1,'Family'] = 'S'# loc를 사용하여 가족수 열이 1과 같은 'Famliy'열을 참조하겠다
test.loc[ (1< test['FamilySize']) & (test['FamilySize']<5) ,'Family'] = 'M'
test.loc[train['FamilySize']>4,'Family'] = 'L'
test[['FamilySize','Family']]

test['Family_S']=test['Family']=='S'
test['Family_M']=test['Family']=='M'
test['Family_L']=test['Family']=='L'
test[['Family_S','Family_M','Family_L','Family','FamilySize','Embarked_S','Embarked_C','Embarked_Q']]

,Family_S,Family_M,Family_L,Family,FamilySize,Embarked_S,Embarked_C,Embarked_Q
0,False,False,False,1,1,False,False,True
1,False,True,False,M,2,True,False,False
2,True,False,False,S,1,False,False,True
3,False,False,False,1,1,True,False,False
4,False,True,False,M,3,True,False,False
5,True,False,False,S,1,True,False,False
6,True,False,False,S,1,False,False,True
7,False,False,True,L,3,True,False,False
8,False,False,False,1,1,False,True,False
9,False,True,False,M,3,True,False,False
10,False,False,False,1,1,True,False,False
11,True,False,False,S,1,True,False,False
12,False,True,False,M,2,True,False,False
13,False,False,True,L,2,True,False,False
14,False,True,False,M,2,True,False,False
15,False,True,False,M,2,False,True,False
16,False,False,True,L,1,False,False,True
17,True,False,False,S,1,False,True,False
18,False,True,False,M,2,True,False,False
19,True,False,False,S,1,False,True,False
20,False,True,False,M,2,False,True,False
21,False,True,False,M,2,True,False,False
22,True,False,False,S,1,True,False,False
23,False,True,False,M,2,False,True,False
24,False,False,True,L,5,False,True,False
25,False,False,True,L,2,True,False,False
26,False,True,False,M,2,False,True,False
27,False,False,True,L,1,False,True,False
28,True,False,False,S,1,True,False,False
29,False,True,False,M,3,False,True,False
...,...,...,...,...,...,...,...,...
388,True,False,False,S,1,False,False,True
389,True,False,False,S,5,True,False,False
390,False,False,False,1,1,True,False,False
391,False,True,False,M,2,True,False,False
392,False,True,False,M,3,True,False,False
393,False,False,False,1,1,True,False,False
394,False,False,False,5,5,True,False,False
395,False,True,False,M,2,True,False,False
396,True,False,False,S,1,False,False,True
397,False,True,False,M,3,False,True,False
398,True,False,False,S,1,True,False,False
399,True,False,False,S,1,False,False,True
400,True,False,False,S,1,True,False,False
401,False,True,False,M,2,True,False,False
402,False,True,False,M,2,False,True,False
403,False,False,False,1,1,True,False,False
404,False,True,False,M,2,False,True,False
405,False,False,False,1,1,False,True,False
406,False,True,False,M,2,True,False,False
407,False,True,False,M,3,False,True,False
408,True,False,False,S,1,False,False,True
409,False,False,True,L,3,True,False,False
410,True,False,False,S,1,False,False,True
411,False,True,False,M,2,False,False,True
412,False,False,False,1,1,True,False,False
413,True,False,False,S,1,True,False,False
414,True,False,False,S,1,False,True,False
415,True,False,False,S,1,True,False,False
416,False,False,False,1,1,True,False,False
417,False,True,False,M,3,False,True,False

In [39]:
train['Pclass'].dtypes

dtype('int64')

In [40]:
train['Pclass'] = train['Pclass'].astype('category')
train['Pclass'].dtypes

CategoricalDtype(categories=[1, 2, 3], ordered=False)

In [77]:
fn=['Gender','Age_mean','Embarked_S', 'Embarked_C', 'Embarked_Q',
    'Family_S','Family_M','Family_L']
# train.info()
X_train=train[fn]
X_train.head()
y_label=train['Survived']
X_test=test[fn]
# X_train과 y_label을 이용하여 모델을 만들겠다

In [65]:
# 모델링(디시전 트리)
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier(max_depth=3) # 디시전 트리 객체가 만들어짐 --> IG 를 알아서 구해준다
model

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [78]:
model.fit(X_train,y_label)
# X_train.isnull().sum()

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=3,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [69]:
from sklearn.model_selection import KFold, cross_val_score
kfold=KFold(n_splits=10,shuffle=True,random_state=2019) 
#n_split=3, shuffle=False, random_state=None, 
# random_State는 임의로 설정
kfold

KFold(n_splits=10, random_state=2019, shuffle=True)

In [83]:
score = cross_val_score(model, X_train, y_label, cv=kfold, scoring='accuracy') 
print(score)
round(np.mean(score)*100,2) # round(,2)로 소숫점 이하 둘째자리까지 출력

[0.85555556 0.79775281 0.84269663 0.84269663 0.80898876 0.85393258
 0.74157303 0.80898876 0.83146067 0.79775281]

81.81

In [85]:
prediction = model.predict(X_test) # survived 칼럼에 대한 값이므로 0,1 로 출력되고 이건 모델이 예측한 값이다
prediction.shape

(418,)

In [86]:
test['Survived']=prediction
test.columns

Index(['PassengerId', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch',
       'Ticket', 'Fare', 'Cabin', 'Embarked', 'Age_mean', 'Family',
       'FamilySize', 'Family_S', 'Family_M', 'Family_L', 'Embarked_S',
       'Embarked_C', 'Embarked_Q', 'Gender', 'Survived'],
      dtype='object')

In [87]:
submission = test[['PassengerId','Survived']]
submission.to_csv("submit.csv",index=False)

In [ ]:
'''
urllib: url을 다루는 모듈의 집합
urllib.request: 이 리퀘스트를 통해 웹 데이터 접근
쿠키: 서버에 남은 클라이언트의 정보(쿠키는 일반적으로 클라이언트 서버에 남김)
세션: 서버에 저장되는 접속자의 정보
'''

In [88]:
# 다운로드되면서 바로 저장되는 코드
# url을 읽고 하드디스크(다운로드폴더)에 저장
import urllib.request as req
url="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
sname="test.png"
urllib.request.urlretrieve(url,sname) 
print("saved")

saved

In [92]:
# urlopen 이라는 객체를 만들어서 오픈하게 되는 코드 
# with open은 메모리에 적재되고, 메모리에서 하드디스크로 저장
import urllib.request
url="https://www.google.com/images/branding/googlelogo/1x/googlelogo_color_272x92dp.png"
sname="test2.png"
mem = urllib.request.urlopen(url).read() 
with open(sname,mode='wb') as f:
    f.write(mem)
    print("이미지가 또 저장됐습니다")

이미지가 또 저장됐습니다

In [93]:
# www.kma.go.kr/weather/forecast/mid-term-rss3.jsp
# 웹 문서 형식: json/html (비구조 문서 --> 컴기계가 해석할 수 없는 형태)
# xml(eXteniable Markup Language구조화된 문서  --> 기계가 해석할 수 있는 형태), rdf ...
# eXtensible :tag< >를 사용자가 만들 수 있다 : 확장가능하다

NameError: name 'www' is not defined

In [ ]:
# www.kma.go.kr/weather/forecast/mid-term-rss3.jsp?stnld=184

In [103]:
import urllib.parse
values={'stnId':'184'} # 제주도
params = urllib.parse.urlencode(values)
API ="https://www.kma.go.kr/weather/forecast/mid-term-rss3.jsp"
url = API+"?"+params
url

data = urllib.request.urlopen(url).read() # --> xml문서로 봤던 내용 모두가 출력됨
text = data.decode('utf-8')
print(text)

<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0">
<channel>
<title>기상청 육상 중기예보</title>
<link>http://www.kma.go.kr/weather/forecast/mid-term_07.jsp</link>
<description>기상청 날씨 웹서비스</description>
<language>ko</language>
<generator>기상청</generator>
<pubDate>2019년 07월 16일 (화)요일 06:00</pubDate>
 <item>
<author>기상청</author>
<category>육상중기예보</category>
<title>제주도 육상 중기예보 - 2019년 07월 16일 (화)요일 06:00 발표</title>
<link>http://www.kma.go.kr/weather/forecast/mid-term_07.jsp</link>
<guid>http://www.kma.go.kr/weather/forecast/mid-term_07.jsp</guid>
<description>
	<header>
		<title>제주도 육상중기예보</title>
		<tm>201907160600</tm>
		<wf><![CDATA[19일에 장마전선의 영향으로 비가 오겠고, 그 밖의 날은 고기압 가장자리에 들어 구름이 많겠습니다.<br />기온은 평년(최저기온: 24~25℃, 최고기온: 29~30℃)과 비슷하겠습니다. 강수량은 평년(4~10mm)보다 많겠습니다.<br />바다의 물결은 제주도전해상과 남해서부먼바다에서 19~21일에 1.0~4.0m로 높게 일고, 그 밖의 날은 1.0~2.0m로 일겠습니다.<br /><br />* 열대저압부(TD)의 발달 여부와 북태평양고기압의 확장 정도에 따라 장마전선의 위치와 강수 영역이 달라질 수 있으니, 앞으로 발표되는 기상정보를 참고하기 바랍니다.]]></wf>
	</header>
	<body>


		<location wl_ver="3">
				<province>제주도</province>
				<city>제주</city>

				<data>
					<mode>A02</mode>
					<tmEf>2019-07-19 00:00</tmEf>
					<wf>흐리고 비</wf>
					<tmn>24</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>70</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-19 12:00</tmEf>
					<wf>흐리고 비</wf>
					<tmn>24</tmn>
					<tmx>29</tmx>
					<reliability>낮음</reliability>
					<rnSt>60</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-20 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>26</tmn>
					<tmx>31</tmx>
					<reliability>낮음</reliability>
					<rnSt>40</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-20 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>26</tmn>
					<tmx>31</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-21 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>26</tmn>
					<tmx>30</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-21 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>26</tmn>
					<tmx>30</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-22 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>30</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-22 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>30</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-23 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>30</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-23 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>30</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-24 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>31</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-25 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>31</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-26 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>31</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


		</location>

		<location wl_ver="3">
				<province>제주도</province>
				<city>서귀포</city>

				<data>
					<mode>A02</mode>
					<tmEf>2019-07-19 00:00</tmEf>
					<wf>흐리고 비</wf>
					<tmn>24</tmn>
					<tmx>28</tmx>
					<reliability>보통</reliability>
					<rnSt>70</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-19 12:00</tmEf>
					<wf>흐리고 비</wf>
					<tmn>24</tmn>
					<tmx>28</tmx>
					<reliability>낮음</reliability>
					<rnSt>60</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-20 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>29</tmx>
					<reliability>낮음</reliability>
					<rnSt>40</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-20 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-21 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>28</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-21 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>28</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-22 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-22 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-23 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-23 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-24 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-25 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>30</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-26 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>30</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


		</location>

		<location wl_ver="3">
				<province>제주도</province>
				<city>성산</city>

				<data>
					<mode>A02</mode>
					<tmEf>2019-07-19 00:00</tmEf>
					<wf>흐리고 비</wf>
					<tmn>24</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>70</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-19 12:00</tmEf>
					<wf>흐리고 비</wf>
					<tmn>24</tmn>
					<tmx>29</tmx>
					<reliability>낮음</reliability>
					<rnSt>60</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-20 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>29</tmx>
					<reliability>낮음</reliability>
					<rnSt>40</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-20 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-21 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-21 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>25</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-22 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-22 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-23 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-23 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-24 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-25 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>30</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-26 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


		</location>

		<location wl_ver="3">
				<province>제주도</province>
				<city>성판악</city>

				<data>
					<mode>A02</mode>
					<tmEf>2019-07-19 00:00</tmEf>
					<wf>흐리고 비</wf>
					<tmn>18</tmn>
					<tmx>23</tmx>
					<reliability>보통</reliability>
					<rnSt>70</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-19 12:00</tmEf>
					<wf>흐리고 비</wf>
					<tmn>18</tmn>
					<tmx>23</tmx>
					<reliability>낮음</reliability>
					<rnSt>60</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-20 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>20</tmn>
					<tmx>25</tmx>
					<reliability>낮음</reliability>
					<rnSt>40</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-20 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>20</tmn>
					<tmx>25</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-21 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>19</tmn>
					<tmx>26</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-21 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>19</tmn>
					<tmx>26</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-22 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>19</tmn>
					<tmx>24</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-22 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>19</tmn>
					<tmx>24</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-23 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>19</tmn>
					<tmx>25</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-23 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>19</tmn>
					<tmx>25</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-24 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>19</tmn>
					<tmx>26</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-25 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>19</tmn>
					<tmx>26</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-26 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>19</tmn>
					<tmx>25</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


		</location>

		<location wl_ver="3">
				<province>제주도</province>
				<city>고산</city>

				<data>
					<mode>A02</mode>
					<tmEf>2019-07-19 00:00</tmEf>
					<wf>흐리고 비</wf>
					<tmn>23</tmn>
					<tmx>28</tmx>
					<reliability>보통</reliability>
					<rnSt>70</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-19 12:00</tmEf>
					<wf>흐리고 비</wf>
					<tmn>23</tmn>
					<tmx>28</tmx>
					<reliability>낮음</reliability>
					<rnSt>60</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-20 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>29</tmx>
					<reliability>낮음</reliability>
					<rnSt>40</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-20 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-21 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-21 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-22 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>28</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-22 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>28</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-23 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>28</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-23 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>28</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-24 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-25 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-26 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>30</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


		</location>

		<location wl_ver="3">
				<province>제주도</province>
				<city>이어도</city>

				<data>
					<mode>A02</mode>
					<tmEf>2019-07-19 00:00</tmEf>
					<wf>흐리고 비</wf>
					<tmn>23</tmn>
					<tmx>24</tmx>
					<reliability>보통</reliability>
					<rnSt>70</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-19 12:00</tmEf>
					<wf>흐리고 비</wf>
					<tmn>23</tmn>
					<tmx>24</tmx>
					<reliability>낮음</reliability>
					<rnSt>60</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-20 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>25</tmx>
					<reliability>낮음</reliability>
					<rnSt>40</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-20 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>25</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-21 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>25</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-21 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>25</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-22 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>25</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-22 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>25</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-23 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>25</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-23 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>25</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-24 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>25</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-25 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>25</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-26 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>24</tmn>
					<tmx>25</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


		</location>

		<location wl_ver="3">
				<province>제주도</province>
				<city>추자도</city>

				<data>
					<mode>A02</mode>
					<tmEf>2019-07-19 00:00</tmEf>
					<wf>흐리고 비</wf>
					<tmn>23</tmn>
					<tmx>28</tmx>
					<reliability>보통</reliability>
					<rnSt>70</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-19 12:00</tmEf>
					<wf>흐리고 비</wf>
					<tmn>23</tmn>
					<tmx>28</tmx>
					<reliability>낮음</reliability>
					<rnSt>60</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-20 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>27</tmx>
					<reliability>낮음</reliability>
					<rnSt>40</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-20 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>27</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-21 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>28</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-21 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>28</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-22 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>27</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-22 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>27</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-23 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>22</tmn>
					<tmx>27</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A02</mode>
					<tmEf>2019-07-23 12:00</tmEf>
					<wf>구름많음</wf>
					<tmn>22</tmn>
					<tmx>27</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-24 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>28</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-25 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


				<data>
					<mode>A01</mode>
					<tmEf>2019-07-26 00:00</tmEf>
					<wf>구름많음</wf>
					<tmn>23</tmn>
					<tmx>29</tmx>
					<reliability>보통</reliability>
					<rnSt>30</rnSt>
				</data>


		</location>




	</body>
</description>
</item>
</channel>
</rss>

In [ ]:
# 가지고 온 데이터에서 필요한 데이터만을 추출할 수 있어야한다
# ex) 매일 자정 tmn/tmx 내용을 추출해서 df로 만들고 싶다면?

In [106]:
from bs4 import BeautifulSoup
html = """
<html>
<body>
<h1>멀티캠퍼스</h1>
<h1>역삼동</h1>
<p>1003호</p>
<p>빅데이터설계반</p>
</body>
</html>
"""

In [110]:
soup = BeautifulSoup(html,'html.parser') # 분석할 html주소/ 분석에 사용할 파서 종류
soup.html.body.h1.string  # h1 이 2개인 경우, 별도의 이름이 없으면 첫번째 h1만 출력된다

In [113]:
p1 = soup.html.body.p
p1.next_sibling # \n이 출력됨 (줄바꿈)
p1.next_sibling.next_sibling # 한번 더 실행해줘야 그 다음 p태그가 출력된다

In [ ]:
api reference : www.crummy.com/software/BeautifulSoup/bs4/doc

In [121]:
# id로 요소를 추출하는 방법
html = """
<html>
<body>
<h1 id="title">스크래핑?</h1>
<p>웹 페이지 분석</p>
<p id="myid">원하는 부분 추출</p>
</body>
</html>
"""

# html 분석
soup = BeautifulSoup(html,'html5lib')
# soup
# soup.h1
soup.find(id='title') # id='title'인 부분이 검색되어짐
title = soup.find(id='title') 
myid = soup.find(id='myid') 

print(title.string) # string만 추출
print(myid.string)

soup.find("p") # 태그명으로도 추출이 가능함

스크래핑?
원하는 부분 추출

In [129]:
# findall()을 이용한 여러 요소 추출
html = """
<html><body>
<ul>
<li><a href="http://naver.com">naver</a></li> 
<li><a href="http://daum.net">daum</a></li>
</ul>
</body></html>
"""

soup = BeautifulSoup(html,'html.parser')
soup.find_all("ul") # findall이라서 리스트 형태로 출력된다
soup.find_all("li") # 같은 태그명으로 묶인 모든 태그를 불러올 수 있다
links = soup.find_all("a")

for link in links :
#     print(link.attrs['href']) # attrs[추출하려는 속성이름]
    href = link.attrs['href']
#     print(link.string)
    text = link.string
    print(text,"==>",href)

naver ==> http://naver.com
daum ==> http://daum.net

In [ ]:
# 기상청으로 이동해서
# 1. 타이틀태그내용추출
# 2. wf태그 내용 추출
# 3. tmn,tmx 값 추출

In [169]:
values={'stnId':'184'} # 제주도
params = urllib.parse.urlencode(values)
API ="https://www.kma.go.kr/weather/forecast/mid-term-rss3.jsp"
url = API+"?"+params
url

# jeju = pd.DataFrame()
WF=[]
TMN=[]
TMX=[]

data = urllib.request.urlopen(url).read() # --> xml문서로 봤던 내용 모두가 출력됨
text = data.decode('utf-8')
# print(text)

soup = BeautifulSoup(text,'html.parser')

titles = soup.find_all("title") 
for title in titles:
    print(title.string)
    
wfs = soup.find_all("wf")
for wf in wfs:
    print(wf.string)
#     jeju['wf'] = title.string
    WF.append(wf.string)
    
tmns = soup.find_all("tmn")
tmxs = soup.find_all("tmx")
for tmn in tmns:
    print(tmn.string)
#     jeju['tmn'] = title.string
    TMN.append(tmn.string)

for tmx in tmxs:
    print(tmx.string)
#     jeju['tmx'] = title.string
    TMX.append(tmx.string)
    
Jeju = pd.DataFrame(np.array([WF,TMN,TMX]).T,columns=["wf","tmn","tmx"])
Jeju

기상청 육상 중기예보
제주도 육상 중기예보 - 2019년 07월 16일 (화)요일 06:00 발표
제주도 육상중기예보
19일에 장마전선의 영향으로 비가 오겠고, 그 밖의 날은 고기압 가장자리에 들어 구름이 많겠습니다.<br />기온은 평년(최저기온: 24~25℃, 최고기온: 29~30℃)과 비슷하겠습니다. 강수량은 평년(4~10mm)보다 많겠습니다.<br />바다의 물결은 제주도전해상과 남해서부먼바다에서 19~21일에 1.0~4.0m로 높게 일고, 그 밖의 날은 1.0~2.0m로 일겠습니다.<br /><br />* 열대저압부(TD)의 발달 여부와 북태평양고기압의 확장 정도에 따라 장마전선의 위치와 강수 영역이 달라질 수 있으니, 앞으로 발표되는 기상정보를 참고하기 바랍니다.
흐리고 비
흐리고 비
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
흐리고 비
흐리고 비
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
흐리고 비
흐리고 비
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
흐리고 비
흐리고 비
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
흐리고 비
흐리고 비
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
흐리고 비
흐리고 비
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
흐리고 비
흐리고 비
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
구름많음
24
24
26
26
26
26
25
25
25
25
25
24
24
24
24
25
25
25
25
25
25
25
25
25
24
25
24
24
24
24
25
25
23
23
23
23
23
23
24
18
18
20
20
19
19
19
19
19
19
19
19
19
23
23
24
24
24
24
24
24
24
24
24
24
24
23
23
24
24
24
24
24
24
24
24
24
24
24
23
23
23
23
23
23
23
23
22
22
23
23
23
29
29
31
31
30
30
30
30
30
30
31
31
31
28
28
29
29
28
28
29
29
29
29
29
30
30
29
29
29
29
29
29
29
29
29
29
29
30
29
23
23
25
25
26
26
24
24
25
25
26
26
25
28
28
29
29
29
29
28
28
28
28
29
29
30
24
24
25
25
25
25
25
25
25
25
25
25
25
28
28
27
27
28
28
27
27
27
27
28
29
29

ValueError: Shape of passed values is (3, 1), indices imply (3, 3)

In [ ]:
# CSS selector : jQuery처럼 css선택자 사용가능 --> 특정 요소 추출하는 기능 제공
#같은 태그 중 범위를 지정하는 역할을 해준다  
# soup.select(<선택자>) : 여러 개의 요소 --> 태그 아래 태그까지 지정 가능
# soup.select_one(<선택자>) : 1개 요소

In [179]:
html="""
<html><body>
<h1>역삼동</h1>
<div id="myid">
<h1>멀티캠퍼스</h1>
<ul class="items">
<li>강의실</il>
<li>엘레베이터</il>
<li>식당</il>
</ul>
</div></body></html>
"""

soup = BeautifulSoup(html,'html.parser')
print(soup.select_one("h1"))
print(soup.select_one("li"))
print(soup.select("li")) # findall처럼 전체가 출력됨
# h1태그가 역삼동과 멀캠 2가지가 있는데,
# 역삼동은 html 아래 소속, 멀티캠퍼스는 div태그 아래 소속되어 있다.
# div태그는 id가 주어져있어서 div#id이름 으로쓰면 멀티캠퍼스를 출력할 수 있다
print(soup.select_one("div#myid h1")) # id이름 뒤에 spacebar주고, 하위 태그명을 달면 그 태그가 출력된다
print(soup.select_one("div#myid > h1")) # >를 표기하여 출력할 수도 있다

soup.select("div#myid ul.items li") # class이름이 부여된 경우, '.'찍고 클래스명 spacebar 하위태그 로도 특정 태그를 출력할 수 있다

<h1>역삼동</h1>
<li>강의실</li>
[<li>강의실</li>, <li>엘레베이터</li>, <li>식당</li>]
<h1>멀티캠퍼스</h1>
<h1>멀티캠퍼스</h1>

In [17]:
# mission 01
# 윤동주 시인의 '하늘과 바람과 별과 시'에 수록된 모든 시 제목 추출
url = "https://ko.wikipedia.org/wiki/%ED%95%98%EB%8A%98%EA%B3%BC_%EB%B0%94%EB%9E%8C%EA%B3%BC_%EB%B3%84%EA%B3%BC_%EC%8B%9C"
# res=req.urlopen(url)
data = urllib.request.urlopen(url).read() # --> xml문서로 봤던 내용 모두가 출력됨
text = data.decode('utf-8')

soup = BeautifulSoup(text,'html.parser')
#mw-content-text > div > ul:nth-child(6) > li > b > a
# myList = soup.select("div#mw-content-text > div > ul:nth-child(6) > li > b > a")

# #version01
# myList[0].string

# #version02
# for a in myList:
#     v = a.string
#     print(v)
    
list = soup.select("div#mw-content-text div.mw-parser-output ul li")

for i in list:
    print(i.string)

# list[0].string

# len(soup.select("div#mw-content-text div.mw-parser-output ul li")
# print(soup.select("div#mw-content-text div.mw-parser-output ul li"))
############# 리스트로 담은 데이터 출력은 for문으로 출력했어야함!!!! ###########
# print(list.string)

자화상
새로운 길
슬픈 족속
소년
병원
무서운 시간
눈 오는 지도
태초의 아침
또 태초의 아침
새벽이 올 때까지
십자가
눈 감고 간다
돌아와 보는 밤
간판 없는 거리
바람이 불어
또 다른 고향
길
별 헤는 밤
서시
마광수

In [183]:
# mission 02
# 네이버 원-달러 환율 불러오기
url = "https://finance.naver.com/marketindex/?tabSel=exchange#tab_section"
data = urllib.request.urlopen(url).read() # --> xml문서로 봤던 내용 모두가 출력됨
text = data.decode('utf-8')

soup = BeautifulSoup(text,'html.parser')
span = soup.select("div.head_info point_dn ")
span

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xc0 in position 616: invalid start byte